In [5]:
#1
test1 = 'This is a test of the emergency text system'
file = open(r"test.txt","w+")
#writes but to reflect we must close 
file.write(test1)
#commits and closes
file.close()

In [11]:
#2
file1 = open(r"test.txt","r")

In [12]:
test2= file1.read()
print(test2)
file1.close()
#no there is no difference

This is a test of the emergency text system

In [21]:
#3
import csv
with open("book.csv",'w',encoding = 'utf-8') as f:
    f.write("Lynne Truss,'Eats, Shoots, and Leaves' author, book J R R Tolkien,'The Hobbit' Lynne Truss, 'Eats,Shoots, and Leaves'")
    spamreader = csv.reader(f, delimiter=',')

In [4]:
#4
import csv
with open('book.csv', newline='') as csvfile:
    spamreader = csv.reader(csvfile, delimiter=',', quotechar='.')
    for row in spamreader:
        print(', '.join(row))

SN, Name, Contribution
1, Linus Torvalds, Linux Kernel
2, Tim Berners-Lee, World Wide Web
3, Guido van Rossum, Python Programming

In [6]:
import csv
with open("book.csv", 'r') as file:
    csv_file = csv.DictReader(file)
    for row in csv_file:
        print(dict(row))
#it includes the commas as well as extra

{'Lynne Truss': "'The Hobbit' Lynne Truss", "'Eats": " 'Eats", ' Shoots': 'Shoots', " and Leaves' author": " and Leaves'", ' book J R R Tolkien': None, '': None}

In [32]:
#5
persons = [('title','writer' , 'year' ),
('The Weirdstone of Brisingamen','Alan Garner', 1960),
('Perdido Street Station','China Miéville', 2000 ),
('Terry Pratchett','Terry Pratchett',2005),
('The Spellman Files','Lisa Lutz',2007),
('Small Gods' ,'Terry Pratchett', 1992)]

csvfile=open('books.csv','w',encoding = 'utf-8', newline='')
obj=csv.writer(csvfile)
for person in persons:
    obj.writerow(person)
csvfile.close()

In [16]:
#6
import sqlite3
#connecting with the database.
db = sqlite3.connect("books.db")
# Drop table if it already exist using execute() method.
db.execute("create table books(title int, author text, year int)")

In [25]:
#7
cur = db.cursor()

a_file = open("books.csv")
rows = csv.reader(a_file)
cur.executemany("INSERT INTO books VALUES (?,?, ?)", rows)

cur.execute("SELECT * FROM books")
print(cur.fetchall())

db.commit()
db.close()

[('title', 'writer', 'year'), ('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Perdido Street Station', 'China MiÃ©ville', 2000), ('Terry Pratchett', 'Terry Pratchett', 2005), ('The Spellman Files', 'Lisa Lutz', 2007), ('Small Gods', 'Terry Pratchett', 1992), ('title', 'writer', 'year'), ('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Perdido Street Station', 'China MiÃ©ville', 2000), ('Terry Pratchett', 'Terry Pratchett', 2005), ('The Spellman Files', 'Lisa Lutz', 2007), ('Small Gods', 'Terry Pratchett', 1992)]

In [26]:
db = sqlite3.connect("books.db")

In [34]:
#8
result = db.execute("select * from books order by title asc")
for row in result:
    print(row)

('Perdido Street Station', 'China MiÃ©ville', 2000)
('Perdido Street Station', 'China MiÃ©ville', 2000)
('Small Gods', 'Terry Pratchett', 1992)
('Small Gods', 'Terry Pratchett', 1992)
('Terry Pratchett', 'Terry Pratchett', 2005)
('Terry Pratchett', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('The Spellman Files', 'Lisa Lutz', 2007)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('title', 'writer', 'year')
('title', 'writer', 'year')

In [33]:
#9
result = db.execute("select * from books order by year")
for row in result:
    print(row)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China MiÃ©ville', 2000)
('Perdido Street Station', 'China MiÃ©ville', 2000)
('Terry Pratchett', 'Terry Pratchett', 2005)
('Terry Pratchett', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('The Spellman Files', 'Lisa Lutz', 2007)
('title', 'writer', 'year')
('title', 'writer', 'year')

In [8]:
import sqlalchemy
import pandas as pd
#2.-Turn on database engine
dbEngine=sqlalchemy.create_engine('sqlite:///books.db') # ensure this is the correct path for the sqlite file. 

#3.- Read data with pandas
pd.read_sql('select * from books',dbEngine)

                            title           author  year
0                           title           writer  year
1   The Weirdstone of Brisingamen      Alan Garner  1960
2          Perdido Street Station  China MiÃ©ville  2000
3                 Terry Pratchett  Terry Pratchett  2005
4              The Spellman Files        Lisa Lutz  2007
5                      Small Gods  Terry Pratchett  1992
6                           title           writer  year
7   The Weirdstone of Brisingamen      Alan Garner  1960
8          Perdido Street Station  China MiÃ©ville  2000
9                 Terry Pratchett  Terry Pratchett  2005
10             The Spellman Files        Lisa Lutz  2007
11                     Small Gods  Terry Pratchett  1992